.DS_Store
*.a
*.bak
*.dll
*.exe
*.jar
*.kza
*.kzb
*.kzb.*
*.kzproj?*
*.lib
*.lock
*.log
*.o
*.so
*.tmp

build/
build_vs20??/
temp/
tmp/

**/Images/**/compressed
**/Images/**/thumbnails
**/Images/**/mipmaps
**/Images/**/cubemaps
**/Application/lib
**/Application/output
